{% extends 'base.html.twig' %}

{% block title %}Hello GaleriepeintreController!{% endblock %}


{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ma Page d'Accueil</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
       <div id="galerie-home">
         <div id="text-overlay">
        <p>Plongez dans l'univers des créateurs, explorez les trésors de la galerie, et rejoignez notre communauté de passionnés de peinture  pour partager l'art de l'élégance</p>
          <a href="{{ path('') }}" class="button">Let's Go</a>
        </div>
    </div>
       
    </div>
</div>
</html>




{% endblock %}
