
.navbar {
background-image:url(../images/fond.png);

}


/* Styles pour centrer les slides */
.slide, .slide2 {
  position: relative;
  width: 56px !important; 
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  text-align: center;
  margin: 0 auto;
   padding-left: 50rem;
}

/* Styles pour centrer le contenu des slides */
.slide p, .slide2 p {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  left: 330px;
  background-color: #ff225f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
 
}




/* Styles pour les dots/slick-dots (inchangés) */
.slick-dots {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding: 1rem 0;
  list-style-type: none;
  
}

.slick-dots li {
  margin: 0 0.25rem;
  list-style: none;
}

.slick-dots button {
  display: block;
  width: 2rem;
  height: 0.5rem;
  padding: 0;
  border: none;
  background-color: rgba(66,55,143,1);
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: rgb(253 253 254);
}
/* Ajoutez ces styles pour centrer les diapositives du carrousel */
